
.container {
    border: 10px solid #babab6; 
    background-color: #babab6; 
}
h1 {
 color: rgb(104, 105, 95);
 font-family: Arial; San Serif; 
 padding: 12px;
 background-color: rgb(221,221,218)
}

div {
  background-color: #babab6;
}

p {
  color: #fff;
  padding: 5px;
  margin: 0;
  font-family: Arial; San Serif;    
  font-size: 10px;
}

p.first {
 background-color: rgb(53, 122, 175);
}

p.second {
 background-color: rgb(54, 134, 185);        
}

p.third {
 background-color: #3293c3;        
}

p.fourth {
 background-color: #469fcb;        
}

p.fifth {
 background-color: #5fadd2;        
}

p.six {
 background-color: #75bada;        
}

p.seven {
 background-color: #8dc4df;        
}

p.eight {
 background-color: #23ab7e;     
}

p.nine {
 background-color: #e7abc1;        
}

p.ten {
 background-color: #e799b5;        
}
p.eleven {
 background-color: #e587a7;
}

p.twelve {
 background-color: #e2749a;    
}

p.thirteen {
 background-color: #e0658a;      
}

p.fourteen {
 background-color: #db5580;     
}

p.fifthteen {
 background-color: #da3d75;        
}